body, html {
    height: 100%;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.main-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/pattern-background-desktop.svg);
    padding: 20px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    background-color: white;
    text-align: center;
}

.hero-img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.content {
    padding: 20px;
}

.title {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 22px;
}

.description {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    font-size: 12px;
    margin: 15px 0;
}

.plan-card {
    background-color: hsl(225, 100%, 98%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    margin: 10px 0;
}

.music-div {
    padding: 5px;
}

.plan-div {
    text-align: left;
    padding-left: 5px;
}

.plan-title {
    display: block;
    font-size: 16px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.plan-price {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.change-div a {
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-size: 12px;
}

.change-div a:visited,
.change-div a:hover,
.change-div a:active {
    color: hsl(245, 75%, 52%);
}

.payment-btn {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 8px;
    margin: 10px auto; /* Center the button */
    height: 35px;
    min-width: 80%;
    max-width: 80%; /* Set a max width */
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 0 6px;
    display: block; /* Ensures the button centers correctly */
    cursor: pointer;
    font-family: Red Hat Display;
}

.cancel-btn {
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    color: hsl(224, 23%, 55%);
    margin-bottom: 10px;
    cursor: pointer;
    font-family: Red Hat Display;
}

@media (max-width: 600px) {
    .main-div {
        background-image: url(images/pattern-background-mobile.svg);
    }

    .card {
        width: 90%;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }

    .plan-title {
        font-size: 14px;
    }

    .plan-price {
        font-size: 10px;
    }

    .payment-btn, .cancel-btn {
        font-size: 14px;
    }
}
